<div class="background">
    <div class="yt">
        <a href="https://www.youtube.com/channel/UCy1wEbWkqKfymrD0IqdXv5w" target="_blank">
            <img  class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Youtube_svg-128.png" alt="Youtube Icon">
        </a>
    </div>
    
    <div class="fb">
        <a href="https://www.facebook.com/UTDWOOF" target="_blank">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-128.png" alt="Facebook Icon">
        </a>
    </div>
    
    <div class="twtr">
        <a href="https://twitter.com/utd_ultimate?lang=en" target="_blank">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-128.png" alt="Twitter Icon">
        </a>
    </div>
    
    <div class="ig">
        <a href="https://www.instagram.com/utdultimate/?hl=en" target="_blank">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-128.png" alt="Instagram Icon">
        </a>
    </div>
</div>
