<div class="background">
    <div class="ig">
        <a href="https://www.instagram.com/utdwomxnsult/" target="_blank" matTooltip="Whiplash Instagram" aria-label="Link to Whiplash Instagram">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-128.png" alt="Instagram Icon">
        </a>
    </div>

    <div class="twtr">
        <a href="https://twitter.com/UTDWomxnsUlt" target="_blank" matTooltip="Whiplash Twitter" aria-label="Link to Whiplash Twitter">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-128.png" alt="Twitter Icon">
        </a>
    </div>

    <div class="fb">
        <a href="https://www.facebook.com/UTDWomxnsUlt" target="_blank" matTooltip="Whiplash Facebook" aria-label="Link to Whiplash Facebook">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-128.png" alt="Facebook Icon">
        </a>
    </div>
    
    <div class="yt">
        <a href="https://www.youtube.com/channel/UCy1wEbWkqKfymrD0IqdXv5w" target="_blank" matTooltip="WOOF Youtube" aria-label="Link to WOOF Youtube">
            <img  class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Youtube_svg-128.png" alt="Youtube Icon">
        </a>
    </div>
    
    <div class="fb">
        <a href="https://www.facebook.com/UTDWOOF" target="_blank" matTooltip="WOOF Facebook" aria-label="Link to WOOF Facebook">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-128.png" alt="Facebook Icon">
        </a>
    </div>
    
    <div class="twtr">
        <a href="https://twitter.com/utd_ultimate" target="_blank" matTooltip="WOOF Twitter" aria-label="Link to WOOF Twitter">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-128.png" alt="Twitter Icon">
        </a>
    </div>
    
    <div class="ig">
        <a href="https://www.instagram.com/utdultimate/" target="_blank" matTooltip="WOOF Instagram" aria-label="Link to WOOF Instagram">
            <img class="icon-size" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-128.png" alt="Instagram Icon">
        </a>
    </div>
</div>
