.navbar {
  background-color: #F28F3B;
  text-align: center;
}

.navbar-toggler {
    border-color: #F28F3B;
}

.active-link {
    font-weight: bold;
}

.call-to-action {
    border-radius: 5px;
    background-color: #ffc06a;
}