.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.player-card {
  width: 250px;
  height: 300px;
  margin: 15px;
  background-color: #d86f59;
}

.card-photo-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.team-logo {
  width: 100%;
  max-height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.card-photo-container:hover>.team-logo {
  filter: blur(11px);
  -webkit-filter: blur(11px);
}

.player-info-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgba(200, 85, 61, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.player-info {
  font: 16px "Oxygen Mono", sans-serif;
  padding: 1rem;
}

.card-photo-container:hover>.player-info-container {
  opacity: 1;
}

.player-name {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font: 20px "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.145em;
  color: #fffffc;
  margin: auto;
}
