<div class="cards-container">
  <div *ngFor="let player of roster" class="player-card">
    <div class="card-photo-container">
      <img src="../../assets/whiplash-logo-simple-dark.svg" class="team-logo" />
      <div class="player-info-container hide">
        <p class="player-info">
          No. 18<br />
          Year: Super Senior<br />
          Position: Hybrid<br />
          Favorite Food: Sushi
        </p>
      </div>
    </div>
    <div class="player-name">
      <h4>{{ player.name }}</h4>
    </div>
  </div>
</div>
