<h1>About Page</h1>

<h3>COVID-19 UPDATE</h3>
<p>UTD Ultimate club teams will be following and taking advice from the CDC, the state of Texas, and the UTD Club Sports organization on when it will be safe to resume activities.</p>

<h3>UT-Dallas Ultimate</h3>
<p>UTD Ultimate is a community of diverse individuals who share the common interest of ultimate frisbee. We strive for team and individual development through the medium of ultimate frisbee.</p>
<h4>Annual Events:</h4>
<ul>
    <li>Summer Sand Mini</li>
    <li>Summer Orientation Fairs</li>
    <li>Welcome Week Mixed Mini Tournament</li>
    <li>Diversity and Inclusion Meeting</li>
    <li>Viva Volunteer</li>
    <li>Homecoming Tailgate</li>
    <li>Winter and Spring Banquets</li>
    <li>Spring Club Sports Banquet</li>
</ul>

<h3>Whiplash</h3>
<p>Established in ?, initally named Monstars, the team re-branded in 2019 to Whiplash.</p>
<h4>Practice Information:</h4>
<p>Monday, Wednesdays 7-10pm @ UTD Soccer Field</p>

<h3>Woof A</h3>
<p>Established in 2008, initally named D-TEX, the team re-branded in 2016 to Woof. Since then, the team has been focused on becoming a nationally competitive team. Over the past four years, Woof has been consistently achieving better and better seasonal results. In the most recent year, 2020, Woof beat two top 10 national teams - Carleton and Ohio State.</p>
<h4>Practice Information:</h4>
<p>Monday, Wednesdays 7-10pm @ UTD Soccer Field</p>

<h3>Woof B</h3>
<p>Established in 2017, Woof B has been a competitive development team, one of the best in the DFW area.</p>
<h4>Practice Information:</h4>
<p>Monday, Wednesdays 7-10pm @ UTD Soccer Field</p>

<h3>FAQ's - ADD MORE INFO TO ANSWERS</h3>
<h4>How do I find out more information and get involved?</h4>
<p>We have an UTD-Ultimate discord server, where we all communication occurs! Contact us for a link to join!</p>
<h4>Do you have coaches?</h4>
<p>Yes! All three teams have dedicated coaches who volunteer their time for team and individual development.</p>
<h4>What does a typical tournament schedule for a semester look like?</h4>
<p>Each team attends between 3-5 tournaments a semester! Many of these tournaents in within the DFW area.</p>
<h4>What are estimated monetary costs?</h4>
<p>The costs over a semester depend on the team.</p>
<h4>How is UTD Ultimate involved in the Dallas Ultimate Community?</h4>
<p>Many UTD Ultiamte players can be found playing in seasonal leagues and participating on DFW club teams over the summer. UTD Ultimate players also volunteer as coaches for local high school teams and work with E.R.I.C. to teach local middle schools about early recognition for cancer.</p>
<h4>What is UTD Ultimate's stance on LGBTQIA+ and BLM?</h4>
<p>UTD Ultimate strives to be an inclusive environment of all. We host annual diversity and inclusion meetings and frequently discuss these topics to spread awareness and enact change.</p>