<div class="container-fluid" style="height: 85.5%">
    <div class="container" style="margin-top: 45px;">
        <div class="row">
            <div class="col-sm" style="margin-bottom: 10px;">
                <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="header-image-1"></div>
                    <mat-card-title>Whiplash</mat-card-title>
                    <mat-card-subtitle>🥏🚀🎭🤽🏻‍♀️💪🏽💯🤾🏼‍♀️</mat-card-subtitle>
                    </mat-card-header>
                    <img style="min-height: 290px;" mat-card-image src="../../assets/gallery-photos/whiplash.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="PHOTOS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip><a href="https://photos.google.com/share/AF1QipO-W3fNOPn6pTrH8KL_XYzW48sGV-fJNA19ALMLTiRafksr7GMVROt8Ft7ns0UZJg?key=ZkNPWHlJWlJESlRTaHM1TUoyMDZvV0M3T2RkY2JR" target="_blank">Big D in lil d</a></mat-chip>
                                        <mat-chip>Midwest Throwdown</mat-chip>
                                        <mat-chip>Practice</mat-chip>
                                        <mat-chip>Sectionals</mat-chip>
                                        <mat-chip>Regionals</mat-chip>
                                        <mat-chip>Nationals</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                            <mat-tab label="HIGHLIGHTS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Whiplash 2019-2020 Highlight Video</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-sm" style="margin-bottom: 10px;">
                <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="header-image-2"></div>
                    <mat-card-title>Woof A</mat-card-title>
                    <mat-card-subtitle>🐶⛹🏿‍♀️☄️🔮👨🏻‍🚀🤠🥏🥞</mat-card-subtitle>
                    </mat-card-header>
                    <img style="min-height: 290px;" mat-card-image src="../../assets/team-photos/woof-a-smi-mar-2020.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="PHOTOS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Aggie Classic</mat-chip>
                                        <mat-chip>UTD 101</mat-chip>
                                        <mat-chip>Florida Warmup</mat-chip>
                                        <mat-chip>Smokey Mountain Invite</mat-chip>
                                        <mat-chip>Practice</mat-chip>
                                        <mat-chip>Sectionals</mat-chip>
                                        <mat-chip>Regionals</mat-chip>
                                        <mat-chip>Nationals</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                            <mat-tab label="HIGHLIGHTS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip><a href="https://www.youtube.com/watch?v=CYNQu82qvk8&t=8s" target="_blank">Wesley Miaw Callahan Video</a></mat-chip>
                                        <mat-chip>Woof 2019-2020 Highlight Video</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-sm" style="margin-bottom: 10px;">
                <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="header-image-3"></div>
                    <mat-card-title>Woof B</mat-card-title>
                    <mat-card-subtitle>👽🌠🎏🏄🏽‍♂️🥽🥏🐉</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/gallery-photos/woofb.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="PHOTOS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Aggie Classic</mat-chip>
                                        <mat-chip>UTD 101</mat-chip>
                                        <mat-chip>Florida Warmup</mat-chip>
                                        <mat-chip>Smokey Mountain Invite</mat-chip>
                                        <mat-chip>Practice</mat-chip>
                                        <mat-chip>Sectionals</mat-chip>
                                        <mat-chip>Regionals</mat-chip>
                                        <mat-chip>Nationals</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                            <mat-tab label="HIGHLIGHTS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>2019-2020 Highlight Video</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
