<div class="container-fluid">
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-sm" style="margin-bottom: 10px;">
                <mat-card class="example-card" style="border-radius: 0px;">
                    <mat-card-header>
                    <div mat-card-avatar class="header-image-1"></div>
                    <mat-card-title>Whiplash</mat-card-title>
                    <mat-card-subtitle>Richardson, Texas</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/gallery-photos/utd_womxns.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p><b>utdwomxnsult</b> </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="PHOTOS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Big D in lil d</mat-chip>
                                        <mat-chip>Midwest Throwdown</mat-chip>
                                        <mat-chip>Practice</mat-chip>
                                        <mat-chip>Sectionals</mat-chip>
                                        <mat-chip>Regionals</mat-chip>
                                        <mat-chip>Nationals</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                            <mat-tab label="HIGHLIGHTS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Whiplash 2019-2020 Highlight Video</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-sm" style="margin-bottom: 10px;">
                <mat-card class="example-card" style="border-radius: 0px;">
                    <mat-card-header>
                    <div mat-card-avatar class="header-image-2"></div>
                    <mat-card-title>Woof</mat-card-title>
                    <mat-card-subtitle>Mens Team A</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/gallery-photos/utd_mens.jpeg" alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="PHOTOS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Aggie Classic</mat-chip>
                                        <mat-chip>UTD 101</mat-chip>
                                        <mat-chip>Florida Warmup</mat-chip>
                                        <mat-chip>Smokey Mountain Invite</mat-chip>
                                        <mat-chip>Practice</mat-chip>
                                        <mat-chip>Sectionals</mat-chip>
                                        <mat-chip>Regionals</mat-chip>
                                        <mat-chip>Nationals</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                            <mat-tab label="HIGHLIGHTS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Wesley Miaw Callahan Video</mat-chip>
                                        <mat-chip>Woof 2019-2020 Highlight Video</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-sm" style="margin-bottom: 10px;">
                <mat-card class="example-card" style="border-radius: 0px;">
                    <mat-card-header>
                    <div mat-card-avatar class="header-image-3"></div>
                    <mat-card-title>Woof</mat-card-title>
                    <mat-card-subtitle>Mens Team B</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/gallery-photos/utd_mens.jpeg" alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="PHOTOS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>Aggie Classic</mat-chip>
                                        <mat-chip>UTD 101</mat-chip>
                                        <mat-chip>Florida Warmup</mat-chip>
                                        <mat-chip>Smokey Mountain Invite</mat-chip>
                                        <mat-chip>Practice</mat-chip>
                                        <mat-chip>Sectionals</mat-chip>
                                        <mat-chip>Regionals</mat-chip>
                                        <mat-chip>Nationals</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                            <mat-tab label="HIGHLIGHTS">
                                <mat-chip-list aria-label="Fish selection">
                                    <div style="margin-top: 8px;">
                                        <mat-chip>2019-2020 Highlight Video</mat-chip>
                                    </div>
                                  </mat-chip-list>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>