/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
=======
.navbar {
    background: #F28F3B;
}

body {
    background: #588B8B;
    color: white;
    overflow-x: hidden;
}

footer {
    background: #3D7E7E;
}

.center {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

ul {
  text-align: center;
  list-style: inside;
}

hr {
    background-color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

>>>>>>> 20a2c25299928c6a04246f47eac5d712d3c61be7
