/* You can add global styles to this file, and also import other style files */

.navbar {
    background: #F28F3B;
}

body {
    background: #588B8B;
    color: white;
}

footer {
    background: #3D7E7E;
}

.center {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

ul {
  text-align: center;
  list-style: inside;
}

hr {
    background-color: white;
}