/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

body {
    background: #588B8B;
    color: white;
    overflow-x: hidden;
    padding-top: 64px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

@media (max-width: 979px) {
    body {
      padding-top: 32px;
    }
  }

