<div class="center">
    <div>
        <h3>COVID-19 UPDATE</h3>
        <p>UTD Ultimate club teams will be following and taking advice from the CDC, the state of Texas, and the UTD Club Sports organization on when it will be safe to resume activities.</p>
    </div><hr />
    
    <div class="row justify-content-center mb-3">
        <div class="col-6 border p-3">
            <h2 style="text-align: center;">Woof Twitter</h2>
            <a class="twitter-timeline" data-tweet-limit="5" href="https://twitter.com/UTD_Ultimate?ref_src=twsrc%5Etfw">Tweets by UTD_Ultimate</a>
        </div>
        <div class="col-6 border p-3">
            <h2 style="text-align: center;">Whiplash Twitter</h2>
            <a class="twitter-timeline" data-tweet-limit="5" href="https://twitter.com/UTDWomxnsUlt?ref_src=twsrc%5Etfw">Tweets by UTDWomxnsUlt</a>
        </div>
    </div>    
</div>
